# Copy to terraform.tfvars and fill with real values before running Terraform
do_token     = "dop_v1_xxxxx"
region       = "nyc3"
ssh_key_ids  = ["12345678"]

service_overrides = {
  core-prod = {
    size = "s-6vcpu-16gb"
  }

  analytics-prod = {
    region = "sfo3"
    backups = false
  }
}

